ArakawaHistoryConverter/.vs
ArakawaHistoryConverter/bin/Debug/ArakawaHistoryConverter.exe
ArakawaHistoryConverter/bin/Debug/ArakawaHistoryConverter.exe.config
ArakawaHistoryConverter/bin/Debug/ArakawaHistoryConverter.pdb
ArakawaHistoryConverter/obj
ArakawaHistoryConverter/*.htm